/* Variables */
:root{
    --teal:rgba(0, 115, 90, 1);
    --teal-hover:rgba(0, 115, 90, 0.67);
    --white-hover:rgba(255, 255, 255, 0.67);
    --space-grey:rgba(235, 235, 235, 1);
    --nav-height:90px;
}

/* Universal */
*, *::before, *::after{
    font-family:'Georgia';
    box-sizing:content-box;
    margin:0;
    padding:0;
}
html, body{
    height:100%;
    width:100%;
    scroll-behavior:smooth;
}
a{
    text-decoration:none;
    cursor:pointer;
}
ul{
    list-style:none;
}

/* Navigation Bar */
.nav{
    height:var(--nav-height);
    background-color:var(--teal);
    transition:0.5s;
    z-index:2;
    position:fixed;
    width:100%;
}
.nav-hidden{
    transform:translateY(calc(-1 * var(--nav-height)));
}
.nav .padding{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:var(--nav-height);
    padding:0 10%;
}
.nav-link li{
    display:inline-block;
    padding:0 25px;
}
.nav-link li:nth-child(3){
    padding-right:0;
}
.nav-link li a{
    color:white;
    font-size:16px;
}
.logo{
    margin-right:auto;
}
h1{
    font-weight:bold;
    font-size:28px;
    color:white;
}
h1:hover, .header-link:hover{
    color:var(--white-hover);
}

/* Text */
h2{
    font-size:22px;
    color:black;
}
p{
    font-size:16px;
    line-height:1.67;
    text-align:left;
    color:black;
}
.paragraph-link{
    display:inline-block;
    position:relative;
    color:var(--teal);
}
.paragraph-link::before{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:0;
    height:2px;
    background-color:var(--teal-hover);
    transition:0.5s ease;
}
.paragraph-link:hover{
    color:var(--teal-hover);
}
.paragraph-link:hover::before{
    width:100%;
}

/* Sections */
section{
    height:100%;
    width:100%;
    display:grid;
    place-items:center;
    align-content:center;
}
section .content{
    display:grid;
    place-items:center;
    justify-content:space-between;
    flex-direction:column;
}
section .container{
    padding:0 10%;
}
section .container .left{
    width:50%;
    float:left;
}
section .container .left p{
    padding-right:15%;
}
section .container .right{
    padding-left:50%;
    text-align:right;
}
#stat-100{
    padding-top:var(--nav-height);
    height:calc(100% - var(--nav-height));
}
#stat-102{
    background-color:var(--space-grey);
}

/* JavaScript Animations */
.container .hidden{
    opacity:0;
    filter:blur(5px);
    transition:all 1.25s ease;
}
.container .top .hidden:nth-child(1){
    transition-delay:0.1s;
}
.container .top .hidden:nth-child(2){
    transition-delay:0.15s;
}
.container .left .hidden:nth-child(1){
    transition-delay:0.2s;
}
.container .left .hidden:nth-child(2){
    transition-delay:0.25s;
}
.container .left .hidden:nth-child(3){
    transition-delay:0.3s;
}
.container .left .hidden:nth-child(4){
    transition-delay:0.35s;
}
.container .right .hidden:nth-child(1){
    transition-delay:0.2s;
}
.container .right .hidden:nth-child(2){
    transition-delay:0.25s;
}
.container .right .hidden:nth-child(3){
    transition-delay:0.3s;
}
.container .right .hidden:nth-child(4){
    transition-delay:0.35s;
}
.container .right .hidden:nth-child(5){
    transition-delay:0.4s;
}
.container .appear{
    opacity:1;
    filter:blur(0);
}

/* Responsive */
@media(prefers-reduced-motion){
    .container{
        transition:none;
    }
}
@media screen and (orientation:portrait){
    /* Variables */
    :root{
        --nav-height:70px;
    }
    /* Text */
    h1{
        font-size:16px;
    }
    h2{
        font-size:16px;
    }
    p{
        font-size:12px;
    }
    .nav-link li a{
        font-size:10px;
    }
    /* Navigation Bar */
    .nav-link li{
        padding:0 10px;
    }
}
@media screen and (max-width:1000px) and (max-height:500px){
    /* Variables */
    :root{
        --nav-height:70px;
    }
    /* Text */
    h1{
        font-size:18px;
    }
    h2{
        font-size:14px;
        color:pink;
    }
    p{
        font-size:10px;
    }
    .nav-link li a{
        font-size:12px;
    }
    /* Navigation Bar */
    .nav-link li{
        padding:0 20px;
    }
}
